.form-group
    label(for="placeSelection") Choose place for seminar
    select#placeSelection(name="place").form-control
        option(value="")
        for location in locations
            if place === location.roomCode
                option(value="#{location.roomCode}" selected) #{location.roomCode} - #{location.roomName}
            else
                option(value="#{location.roomCode}") #{location.roomCode} - #{location.roomName}
        //- option(value="")
        //- option(value="UPHIL205") Uphil 205
        //- option(value="UPHIL215") Uphil 215
        //- option(value="UPHIL305") Uphil 305
        //- option(value="UPHIL315") Uphil 315
        //- option(value="SV203") SV 203
        //- option(value="Unknown") Unknown location