.form-group
    label(for="placeSelection") Choose place for seminar
    select#placeSelection(name="place").form-control
        option(value="")
        for location in locations
            if place === location.roomCode
                option(value="#{location.roomCode}" selected) #{location.roomCode} - #{location.roomName}
            else
                option(value="#{location.roomCode}") #{location.roomCode} - #{location.roomName}