extends layout

block content
    h2 Add an assistant to a course

    form(action="/admin/addAssistantToCourse" method="POST")
        legend#addAssistantStatus
        .form-group
            label(for="assistantUser") Assistant
            select#studentAssistant(name="studentAssistant").form-control
                for assistant in model.assistants
                    option(value="#{assistant.StudID}") #{assistant.fName} #{assistant.lName}
        .form-group
            label(for="courseSelector") Course
            select#courseSelection(name="courseSelection").form-control
                for course in model.courses
                    option(value="#{course.courseID}") #{course.courseID} - #{course.name}

        .form-group
            button.btn.btn-primary#addAssistantToCourseBtn Add assistant to course