extends layout
block content
    h3 #{title}
    include ./partials/dashboardNavElements
    
    p.special Total number of seminars: #{numOfSeminars}
    table.table.table-hover
        thead
            tr
                th Name
                th Attended
                th Been away
                th Total
        tbody

        for student in students
            if student.away <= 0
                tr.studentAttendanceInfo(data-student_id="#{student.StudID}", data-semgrid="#{semGrID}").success
                    td #{student.fullName}
                    td #{student.met}
                    td #{student.away}
                    td #{student.totalAttendance}
            else 
                tr.studentAttendanceInfo(data-student_id="#{student.StudID}", data-semgrid="#{semGrID}").warning
                    td #{student.fullName}
                    td #{student.met}
                    td #{student.away}
                    td #{student.totalAttendance}


    .well.hide
        a#clearStudentAttendanceInfo(href="#") Clear
        h4#studentName Status for XXX XXX
        table.table.table-striped
            thead
                tr
                    th Date
                    th Location
                    th Attended
            tbody
                


