extends layout

block content
    h3 #{title}: #{user.fName} #{user.lName}
    if user.adminType == null
        h4 Your seminars
        include ./partials/dashboardNavElements
    else
        include ./partials/dashboardNavElements

    h4 Search for Courses
    form
        .form-group
            input.form-control(type="course" id="inputCourse" name="course" placeholder="INFO132" style="width: 20%")
    table#courseTable.table-hover.table.table-responsive.hide
        thead
            tr
                th Course ID
                th Name
                th Semester
                th Attendance
        tbody
    section.seminars.row
        for seminar in seminars
            .col-xs-12.col-sm-12.col-md-6.col-lg-4
                .thumbnail
                    a(href="/student/seminarDetails/#{seminar.semGrID}")
                        h4 #{seminar.name}
                    ul
                        li #{seminar.courseID}
                        li Name: #{seminar.name}
                    p
                        a(href="/student/removeSeminar/#{seminar.semGrID}").btn.btn-danger Remove Seminar




