extends layout
block navigation
    include ./partials/dashboardNavigation

block content
    h3 #{title}: #{user.fName} #{user.lName}
    if user.adminType == null
        h4 Your seminars
    else
        h4 Your seminargroups
        p Admintype: #{user.adminType}
    a(href="#")#addGroup Search for Groups
    table#seminarTable.table-hover.table.table-responsive.hide
        thead
            tr
                th Course ID
                th Name
        tbody
    section.seminars.row
        for seminar in seminars
            .col-xs-12.col-sm-12.col-md-6.col-lg-4
                .thumbnail
                    a(href="/seminarDetails/#{seminar.semGrID}")
                        h4 #{seminar.name}
                    ul
                        li #{seminar.courseID}
                        li Name: #{seminar.name}
                    p
                        a(href="/removeSeminar/#{seminar.semGrID}").btn.btn-danger Remove Seminar

    h4 Search for Courses
    input.form-control(type="course" id="inputCourse" name="course" placeholder="INFO132" style="width: 20%")
    table#courseTable.table-hover.table.table-responsive.hide
        thead
            tr
                th Course ID
                th Name
                th Semester
                th Attendance
        tbody


