extends layout

block content
    h3 #{model.title} #{model.user}
    h4 Your seminars
    a(href="#")#addGroup Search for Groups
    table#seminarTable.table-hover.table.table-responsive.hide
        thead
            tr
                th Name
                th Day
                th Place
                th Start time
                th End time
                th Room
                th Sign Up
        tbody
    section.seminars.row
        for seminar in model
            .col-xs-12.col-sm-12.col-md-6.col-lg-4
                .thumbnail
                    a(href="/seminarDetails/#{parentKey}/#{key}")
                        h4 #{seminar.name}
                    ul
                        li #{seminar.day}
                        li Start: #{seminar.startTime}
                        li Slutt: #{seminar.endTime}
                    p
                        a(href="/removeSeminar:#{key}").btn.btn-danger Remove Seminar

