extends layout
block navigation
    include ./partials/dashboardNavigation

block content
    h3 #{title}: #{user.fName} #{user.lName}
    if user.adminType == null
        h4 Your seminars
    else
        h4 Your seminargroups
        p Admintype: #{user.adminType}
    a(href="#")#searchForGroup Search for Groups
    table#seminarTable.table-hover.table.table-responsive.hide
        thead
            tr
                th Course ID
                th Name
        tbody
    section.seminars.row
        for seminar in seminars
            .col-xs-12.col-sm-12.col-md-6.col-lg-4
                .thumbnail
                    a(href="/seminarDetails/#{seminar.semGrID}")
                        h4 #{seminar.name}
                    ul
                        li #{seminar.courseID}
                        li Name: #{seminar.name}
                    p
                        a(href="/student/removeSeminar/#{seminar.semGrID}").btn.btn-danger Remove Seminar

    a(href="#")#searchCourse Search for Courses
    table#courseTable.table-hover.table.table-responsive.hide
        thead
        tbody


