extends layout

block content
    h3 #{title}: #{user.fName} #{user.lName}
    include ./partials/dashboardNavElements

    .row
        .col-xs-12.col-sm-12.col-md-8.col-lg-8
            h4 Search for Courses
            form
                .form-group
                    input.form-control(type="course" id="inputCourse" name="course" placeholder="INFO132" style="width: 20%")
            table#courseTable.table-hover.table.table-responsive.hide
                thead
                    tr
                        th Course ID
                        th Name
                        th Semester
                        th Attendance
                tbody
            section.seminars
                for course in courses
                    .col-xs-12.col-sm-12.col-md-6.col-lg-4.thumbnail
                        a(href="/student/seminarDetails/#{course.courseID}")
                            h4 #{course.courseID} - #{course.name}

            .row
                .col-xs-12.col-sm-12.col-md-6.col-lg-6
                    h4 You are currently assigned to these seminar groups
                    //- TODO FIKSE IMPLEMENTERING AV SLETTING AV GRUPPER
                    for group in groups
                        li #{group.name}
                            a(href="/student/removeSeminar/#{group.semGrID}") - Remove


        .col-xs-12.col-sm-12.col-md-4.col-lg-4
            include ./partials/updateProfile
