extends layout

block content
    h2 Take attendance

    .row
        .col-xs-12.col-sm-8.col-md-6.col-lg-6.col-xl-4
            h4 Students
            form(action="/assistant/takeAttendance/#{semGrID}" name="takeAttendanceForm" method="POST")
                legend#status #{place} - #{date}
                for student in students
                    .form-group
                        label.form-control
                            if student.attended
                                input.student-attendance(type='checkbox' checked value='#{student.StudID}' name='students[]')
                            else
                                input.student-attendance(type='checkbox' value='#{student.StudID}' name='students[]')
                            span  #{student.fullName}
                input.hidden#semGrID(type="text" value="#{semGrID}")

                .form-group
                    label(for="placeSelection") Choose place for seminar
                    select#placeSelection(name="place").form-control
                        option(value="")
                        option(value="UPHIL205") Uphil 205
                        option(value="UPHIL215") Uphil 215
                        option(value="UPHIL305") Uphil 305
                        option(value="UPHIL315") Uphil 315
                        option(value="SV203") SV 203
                        option(value="Unknown") Unknown location

                .form-group
                    input#insertID(name='insertID' type='text' value="#{prevSemID}" hidden)

                .form-group
                    button#updateAttendanceBtn.btn.btn-success.form-control Update Attendance
                    a(href="/assistant/takeAttendance/#{semGrID}")#resetAttendanceBtn.btn.btn-default Reset Form
                label
                    if cancelled
                        input#cancelledCheckBox(type="checkbox" checked)
                    else 
                        input#cancelledCheckBox(type="checkbox")
                    span  Seminar is cancelled?

        include partials/previousSeminars
