extends layout

block content
    h3 #{title}
    
    p Here is an overview over your attendance for #{groupDetails.name}

    table.table.table-striped
        thead
            tr
                th Date
                th place
                th Duration in minutes
                th Attended

        tbody
            for sem in seminar
                tr
                    td #{sem.date}
                    td #{sem.place}
                    td #{sem.duration} minutes
                    if sem.attended == 1
                        td.success Yes
                    else 
                        td.danger No

    p#attendanceCourse Attendance limit for this course: #{courseDetails.attendance} %
    p#totalSeminars Planned number of seminars: #{courseDetails.plannedSeminars}
    p#allowedLimit Your absence from seminars: 
    p#attendancePercentage Your current attendance: 



